/* Background and text */
html {
    background-color: hsl(0, 0%, 10%);
    color: #ced6dd;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65;
    margin: 0 0 3em 0;
}

h1,
h2,
h3,
h4 {

    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}

a {
    color: inherit;
}


/* Layout */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5em;
}


.markdown-block {
    max-width: 850px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.markdown-line {
    flex-basis: 4px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
}


.markdown a {
    color: #e89217;
}

#menu {
    width: 100%;
}

.svg-button {
    margin: 1em;
    cursor: pointer;
}

#burger {
    position: fixed;
    top: 0;
    right: 0;
    background-color: hsl(0, 0%, 10%);
    border-radius: .7em;
    line-height: 0;
}


#burger line {
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
    transform-origin: center;
}

.menu-open #burger .top-bar {
    transform: rotate(45deg) translateY(-.375em);
}

.menu-open #burger .middle-bar {
    opacity: 0;
}

.menu-open #burger .bottom-bar {
    transform: rotate(-45deg) translateY(.375em);
}


#menu-content {
    width: 100%;
    height: calc(100vh - 1.6em);
    position: fixed;
    top: 0;
    overflow: scroll;
    background-color: hsl(0, 0%, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top .3s;
    top: -100%;
}

.menu-open {
    overflow: hidden;
}

.menu-open #menu-content {
    top: 0;
}

.gradient-hover {
    background: hsl(0, 0%, 10%, 0);
    transition: background 0.2s;
}

.gradient-hover:hover {
    background: linear-gradient(-40deg, hsl(0, 0%, 12%) 0%, hsl(0, 0%, 15%) 50%, hsl(0, 0%, 20%) 100%);
}

nav {
    max-width: 1000px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav>h4 {
    text-align: center;
}


.toc-year {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;

}

@media screen and (min-width: 60rem) {
    .toc-year {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, max(100px, 100%/8)), 1fr));
    }
}

.day {
    padding: 1em;
    flex-grow: 1;
    text-align: center;
}

.day.empty {
    display: none;
}

@media screen and (min-width: 60rem) {
    .day.empty {
        display: block;
    }
}

.day.full {
    border-radius: .3em;
}

.day.full.double {
    grid-column: span 2;
}

a.day.full {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.day .number span {
    text-decoration-line: underline;
}

.day .title {
    font-size: .9em;
    white-space: normal;
    display: inline-block;
    width: 100%;
    line-height: 110%;
    margin-top: .1em;
    font-weight: 500;
}

.day .original-prompt {
    font-size: .65em;
    font-style: italic;
    display: block;
    line-height: 110%;

}

@media (pointer: fine) {
    .day .original-prompt {
        opacity: 0;
        transition: opacity .2s;
    }

    .day:hover .original-prompt {
        opacity: 1;
    }
}

#prev-next-links {
    margin-top: 40px;
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: space-around;
}

#year-links {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: hsl(0, 0%, 10%);
    margin-top: 50px;
    color: #404040;
    font-size: 0.7em;
    padding: .3em 0;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 60rem) {
    .footer {
        font-size: 0.9em;
    }
}
