ci:
  autoupdate_schedule: quarterly
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # File names
      - id: check-case-conflict
          # File formats
      - id: pretty-format-json
      - id: check-json
      - id: check-toml
      - id: check-yaml
          # Executables
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
          # Git shenanigans
      - id: check-merge-conflict
      - id: check-added-large-files
          # Python issues
      - id: check-ast
      - id: debug-statements
          # Whitespace
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes, --show-fixes]
      - id: ruff-format

  - repo: https://github.com/ewjoachim/sync-pre-commit-with-uv
    rev: 1.1.0
    hooks:
      - id: sync

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.13
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: flowmark
        name: flowmark
        entry: ./flowmark
        additional_dependencies: [flowmark==0.5.3]
        exclude: index\.md
        types: [markdown]
        language: python
